In [6]:
import pandas as pd

df = pd.read_csv(r"D:\Resume Screener\data\resumes\UpdatedResumeDataSet.csv")
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [ ]:
import sys
import os

# Make sure the project root is in path (so 'app' is found)
sys.path.append(os.path.abspath(".."))

from app.skill_extractor import extract_skills
from app.resume_parser import parse_resume

skills = ["Python", "Machine Learning", "Data Analysis", "SQL", "Java", "Communication"]

file_path = "../data/resumes/sample_resume.pdf"  # Go up one level since you're inside /notebooks

try:
    resume_text = parse_resume(file_path)
    matched_skills = extract_skills(resume_text, skills)

    print("✅ Resume parsed successfully!")
    print("Matched Skills:", matched_skills)
except Exception as e:
    print(f"❌ Error: {e}")

ModuleNotFoundError: No module named 'app'